<!DOCTYPE html>
<html>
  <head>
    <title>Reason #<%= @ways.index(@way) %> I love Susan</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen"> 
  </head>
  <body>
    <div class="reason_block">
      <%= yield %>
	</div>
  </body>
</html>