body {
  text-align: center;
  background: white;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 62.5%;
  }
 
a, a:visited, a:active { color: #FF0000; }

a:hover { color: #000; }   
 
.reason_block {
  margin: 0 auto;
  width: 95%;
  }

.reason_block h1 {
  font-size: 3em;
  font-variant: small-caps;
  }
  
.reason_block h2 { font-size: 2em; }

.reason_block p { font-size: 8em; }

img.heart {
  position: relative;
  top: .25em;
  }
  
footer { margin-top: 5em; }
  
ul.links { list-style-type: none; margin: 0; padding: 0; }
  
ul.links li {
  display: inline;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 2em;
  line-height: 2em;
  white-space: nowrap;
  }
  
@media all and (max-width: 640px) {
  ul.links li { display: block; }
  }  